body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("./bg.jpg");*/
  /*color: white;*/
}

img {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  margin-top: 50px;
  display: block;
  box-shadow: 0px 0px 10px black;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 50%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 2%;
}

.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.5%;
}
.span_2_of_4 {
  width: 49%;
}
.span_1_of_4 {
  width: 250px;

}

.column {
  float: left;
  width: 30%;
  padding: 5px;
  
}